/* ================= RESET =================*/
*{
    margin: 0;
    padding: 0;
}
/* ================= css PAGE ==============*/
html{
    font-family: 'Poppins', sans-serif;
}
/* ================== HEADER ================*/
.header-container{
    width: 100%;
    height: 100vh;    
    background-image: url('../images/verger.jpg');
}
.banner{    
    display: flex;
    justify-content: space-between;
    background-color: #3c8158;
    padding: 0 20px;    
}
.logo-pnrgm{
    width: 5%;  
    background-color: orange;  
}
.logo-pnrgm img{
    height: 100%;
    width: auto;
}
.title-block{
    width: 90%;
    color: white;    
    text-align: left;
    padding: 20px;     
}
.burger{    
    color: rgba(228, 228, 228, 1);
    cursor: pointer;
    font-size: 2rem; 
    text-align: right;
    padding: 20px;    
} 
.nav-container{
    height:100%;
    width: 0%;
    position: fixed;
    /*Stayinplace*/z-index: 1;
    /*Sitontop*/right: 0;
    top: 0;
    background-color: #2f666a;
    /*background-color: rgb(0,0,0, 0.5);
    Blackfallbackcolor*//*background-color: rgba(0,0,0, 0.9);
    Blackw/opacity*/overflow-x: hidden;
    /*Disablehorizontalscroll*/
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    font-size: 2rem;
  }

#list-menu{
    position: relative;
top: 25%; /* 25% from the top */
height: 100%; /* 100% width */
text-align: left;
padding-left: 20px; /* Centered text/links */
margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */   
}
#list-menu li{
    padding: 8px;
text-decoration: none;
font-size: 1.2rem;
color: #818181;
display: block; /* Display block instead of inline */
transition: 0.3s;   
}   
#list-menu li a{
    color: rgba(228, 228, 228, 1);
    text-decoration: none;   
    font-weight: bold;
}


#btnPopup{
    display: block;
    background: #3c8158;
    position: absolute;
    bottom: calc(15% + 150px);
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    /*padding: 10px 15px 8px 15px;
    */text-decoration: none;
    /*box-shadow: 0px 0px 10px #000;
    */transition: all 0.5s;
    /*width: max-content;
    */-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
    height: 50px;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.mark{
    padding: 10px;
}


#btn-saisir:hover{
	text-decoration: none;
	background: #2f666a;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.overlay{
    position: fixed;
    left: 0px;
    top:0px;
    background: rgba(47, 102, 106, 0.5);
    
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
    }

    .popup{
        margin: 20% auto;
        width : 70%;
        background: rgba(243, 243, 243, 1);
        padding: 1em;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        
        }
        .popup-article{
            display: flex;
        }
        .popup h2{
            text-align: center;
            margin-bottom: 50px;

        }
        .twochoice{
            display: flex;
        justify-content: space-around;
        }

        .btnClose{
            float: right;
            font-size:16pt;
            cursor: pointer;
            color: rgb(26, 26, 26);
            }

    .choice{
        width: 30%;
        text-align: center;
        padding: 30px;
    }
    .choice p{
        margin-bottom: 30px;
    }
    .btnchoice{
        background-color: #3c8158;
        color: white;
        text-decoration: none;
        border: 1px solid;
        padding: 10px;
       
    }

.main-container{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.split-banner{
    background-color: #2f666a;
    color: white;
    font-size: 2rem;
    margin-top: 50px;
}
#menu{
	height : 190px;
	width : 670px;
	margin-left : auto;
	margin-right : auto;

}
#menu #l1{
	color : #7c7c7c;
	font-size : 20px;
	text-align : center;
	margin-top : 8px;
	height : 30px;
}
#menu #l2{
	color : #7c7c7c;
	font-size : 14px;
	text-align : center;
	margin-top : 0px;
	height : 32px;
}
.menu-box, .menu-bords{
	height : 120px;
	width : 160px;
	float : left;
	text-align : center;
	transition : all 0.5s;
}
.menu-bords{
	background : url('../images/index/vert.png') repeat-x;
	background-position : bottom;
 }
.menu-box a{
	text-decoration : none;
}
.menu-box:hover, .menu-box:active{
	background : url('../images/index/vert2s.png') repeat-x;
	background-position : bottom;
	transition : all 0.5s;
}
.menu-bords{
	width : 95px;
}
.menu-box-txt{
	color : #fff;
	font-size : 14px;
	font-weight : 500;
	display : block;
	margin-top : 2px;
	letter-spacing : 1px;
}
.apicto{
	display : block;
	height : 80px;
}
.atext{
	display : block;
	background : #078157;
	height : 30px;
	padding-top : 8px;
	padding-bottom : 2px;
	color : #fff;
	text-decoration : none;
}
.atext:hover{
	background : #007042;
}
	
#axes{
	width : 670px;
	margin-left : auto;
	margin-right : auto;
	margin-top : 55px;
}
#p1{
	color : #078157;
	text-align : justify;
	font-size : 14px;
	font-weight : 400;
}
.box-axe{
	margin-top : 30px;
	margin-bottom : 10px;
	background : #f2f2f2;
	padding : 15px 20px;
	display : flex;
	flex-direction: row;
}
.axe-nb{
	width : 60px;
	font-size : 70px;
	font-weight : 700;
	color : #078157;
	text-align : center;
	font-family : Lato;
	border-right : 20px solid #078157;
	padding-right : 20px;
	margin-right : 20px;
}
.axe-txt{
	flex-grow: 1;
	width : 60px;
	position : relative;
	cursor : pointer;
}
h2{
	text-align : justify;
	font-size : 16px;
	font-weight : 500;
	margin-top : 0;
	margin-bottom : 15px;
}
.axe-txt p{
	font-size : 13px;
	color : #717171;
	text-align : justify;
	display : none;
	min-width : 100%;
}
button{
	position : absolute;
	bottom : -5px;
	right : 0;
	cursor : pointer;
	color : #959595;
	border : 0px solid #959595;
	padding : 0px 10px 3px 10px;
	border-radius : 10px;
	font-weight : 400;
	width : 120px;
	font-size : 12px;
	background : #e0e0e0;
}
button:hover{
	background : #cecece;
}          