/* ================= RESET =================*/
*{
    margin: 0;
    padding: 0;
}
/* ================= PAGE ==============*/
html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;    
}
body{
    width: 100%;
}
/* ========================== HEADER =========================*/
.header-container{
    width: 100%;
    height: 100vh;     
    background-image: url('../images/verger.jpg');
}

/* ----------------- Bannière titre -------------- */
.header-container .banner{    
    display: flex;
    justify-content: space-between;
    background-color: #3c8158;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 1;  
}
.header-container .banner .logo-pnrgm{
    max-height: 80px;
    width: 55px;    
}
.header-container .banner .logo-pnrgm img{
    height: 100%;    
}
.header-container .banner .title-block{   
    color: white;    
    text-align: center;
    vertical-align: middle;
    padding: 0 20px;     
    font-size: 0.4rem;   
    height: 80%;
    margin: auto;
}
.header-container .banner .burger{    
    color: rgba(228, 228, 228, 1);
    cursor: pointer;
    font-size: 1.7rem; 
    text-align: right;
    padding: 15px;     
} 

/* ---------------- Menu rideau ---------------- */
.header-container .nav-container{
    height:100vh;
    width: 0%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #2f666a;
    overflow-x: hidden;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.header-container .nav-container .btnCloseNav{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;   
}
.header-container .nav-container .list-menu{    
    text-align: left;
    padding-left: 20px; 
    margin-top: 40px; 
    width: fit-content;   
}
.header-container .nav-container .list-menu li{
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 0;
    color: #818181;
    list-style-type: none;   
}   
.header-container .nav-container .list-menu li a{
    color: rgba(228, 228, 228, 1);
    text-decoration: none;    
}
.header-container .nav-container .list-menu .sublist{
    display: none;
}
.header-container .nav-container .ligne{
    border-bottom: 1px solid white; 
    margin: 40px 30px 0;    
}

/* -------------- Bouton d'accès à la saisie ------------- */
.header-container .btnPopup-saisie{
    background: #3c8158;   
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 0;
    text-decoration: none;    
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    width: 120px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;   
}
.header-container .btnPopup-saisie .mark{   
    font-size: 2rem;
    margin-top: 20px;
}

/* ------------ Popup sélection du type d'observation ------------ */
.header-container .overlay, .main-container .overlay{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(47, 102, 106, 0.5);        
    z-index:1;
    display:none;     
}
.header-container .overlay .popup-saisie, .main-container .overlay .popup{     
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(243, 243, 243, 1);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.header-container .overlay .popup-saisie .btnClose-popupSaisie{   
    font-size: 2rem;
    cursor: pointer;
    color: rgb(26, 26, 26);       
    margin-right: 20px;    
    align-self: flex-end;   
}      
.header-container .overlay .popup-saisie h2{
    text-align: center;
    margin-bottom: 20px;    
    color: #3c8158;
    font-size: 1.2rem;
}
.choice{
    width: 100%;
    text-align: center;
    margin-bottom: 30px; 
    font-size: 0.8rem;       
}
.btnchoice{       
    color: white;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    width: 50%;
    margin: auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.btnchoice img{
    width: 80%;
}
.main-container{
    width: 80%;
    margin: auto;    
}
.split-banner{
    background-color: #2f666a;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 10px;
}
.title-intro{
    margin-bottom: 20px;
    color : #078157;
    font-size: 1.2rem;
}
.abc-menu, .trames-menu{
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: auto;   
    justify-content: center;
}
.trames-menu{
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.menu-box{
     text-align: center;
     width: 45%;     
     cursor: pointer;
     margin-bottom: 20px;
     
     
}
.apicto img{
	/* display : block; */
	/* height : 80px; */
    width: 100%;
    height: 100%;
    
}
.apicto-trames img{
    width: 70%;

}
.atext{
	/* display : block; */
	background : #078157;
	/* height : 30px; */
	padding: 5px;
	color : #fff;
	text-decoration : none;
    font-size: 0.7rem;
    
}
/* .atext:hover{
	background : #007042;
} */
	
/* #axes{
	width : 100%;
	margin-left : auto;
	margin-right : auto;
	margin-top : 55px;
} */
.p-intro{
	/* color : #078157; */
	text-align : justify;
	font-size : 0.8rem;
	/* font-weight : 400; */
    margin-bottom: 30px;
}
@counter-style vague{
    system: cyclic;
    symbols: "~";
    suffix: " ";
}
ul.p-intro{
    list-style: vague;
}
.p-intro li{
    margin-left: 30px;   
}
.pictos-bloc{
    display: flex;
    
    justify-content: center;
    width: 100%;
}



.box-axe{
	/* margin-top : 30px;
	margin-bottom : 10px; */
	background : #f2f2f2;
	/* padding : 15px 20px; */
	/* display : flex; */
	/* flex-direction: row; */
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-top: 20px;
    
}
.btnClose-popupAxe{
font-size: 2rem;
    cursor: pointer;
    color: rgb(26, 26, 26);       
    padding-right: 30px;   
    padding-top: 30px; 
    /* align-self: flex-end;    */
    float:right;
}
.title-trame{
    display: flex;
}
.img-block{
    width: 30%;
    margin: auto;
    /* float: right; */
}
.axe-nb{
    width: 80%;
    margin: auto;
    padding-top: 25px;
    font-size: 1.5rem;
    font-weight: 700;
    /* writing-mode: sideways-lr; */
    color: #078157;
    /* text-align: center; */
    font-family: Lato;
    border-bottom: 10px solid #078157;
    /* padding-right: 20px; */
    /* margin-right: 20px; */
    /* -webkit-writing-mode: sideways-lr;
    -ms-writing-mode: sideways-lr; */
}
/* .axe-txt{
	flex-grow: 1;
	width : 60px;
	position : relative;
	
} */
.axe-txt h3{
    
	text-align : justify;
	font-size : 16px;
	font-weight : 500;
	margin-top :40px;
	margin-bottom : 15px;
    width: 80%;
    margin: auto;
}
.axe-txt p{
    width: 80%;
    margin: auto;
	font-size : 13px;
	color : #717171;
	text-align : justify;
	/* display : none; */
	/* min-width : 100%; */
    height: 300px;
    overflow: auto;
    
}
/* ====================== Section identification =================== */
.help{
    margin-bottom: 30px;
}
.help .bloc-pictos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.help .bloc-pictos .bloc-picto{
    width: 80px;   
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.help .bloc-pictos .bloc-picto a{    
    text-decoration: none;
    color: #3c8158;   
}
/* .help .bloc-pictos .bloc-picto .btnPopup : pas de css, class pour js */

.help .bloc-pictos .bloc-picto .bloc-picto-img{
    width: 80%;
    height: calc(80px*0.8);   
    display: flex;    
    align-items: center;
    margin: auto;
    background-color: #3c8158;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;    
}
.help .bloc-pictos .bloc-picto .bloc-picto-img img{
    width: 50%;
    margin: auto;    
}
.help .bloc-pictos .bloc-picto .bloc-picto-liens{
    padding-top: 10px;
    width: 100%;
    font-size: 0.6rem;
    color: #3c8158;    
}
/* .help .bloc-pictos .bloc-picto .bloc-picto-liens .overlay : ligne 139 */   

.help .bloc-pictos .bloc-picto .overlay .list-links{
    background: #f2f2f2;
    width: 70%;
    margin: 40% auto;
    padding: 20px;
    
}
/* .help .bloc-pictos .bloc-picto .overlay .list-links .btnClosePopup : ligne 160 */

.help .bloc-pictos .bloc-picto .overlay .list-links ul{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 30px auto;    
}
.help .bloc-pictos .bloc-picto .overlay .list-links ul li{
    background-color: #2f666a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 8px;
    list-style-type: none;
    font-size: 0.8rem;
    margin: 10px;    
}
.help .bloc-pictos .bloc-picto .overlay .list-links ul li a{
    color: white;    
}

.button-return{
    display: none;
}
.footer-container{
    background-color: #3c8158;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.footer-container a{
    text-decoration: none;
    color: white;
}



/* ===============================================
                POUR UN ECRAN > 768PX 
==================================================  */
@media screen and (min-width: 768px) {

/* ================== HEADER ==================== */
.header-container .title-block h1{
    font-size: 1.2rem; 
}
.header-container .burger{
    font-size: 2rem;
}
.header-container .nav-container .list-menu .sublist{
    display: block;
}
.header-container .nav-container .list-menu .sublist li{
    margin-left: 20px;
    font-size: 0.8rem;
}
.header-container .btnPopup-saisie{
    width: 30%;    
    font-size: 1rem;    
}
.header-container .btnPopup-saisie:hover{
    background-color: white;
    color: #3c8158;
    transform: scale(1.2) translate(-43%);
    -webkit-transform: scale(1.2) translate(-43%);
    -moz-transform: scale(1.2) translate(-43%);
    -ms-transform: scale(1.2) translate(-43%);
    -o-transform: scale(1.2) translate(-43%);   
}
.header-container .popup-saisie, .main-container .popup{   
    width: 60%;
    height: 70%;
    margin: auto;       
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;     
}
.header-container .btnClosePopup, .main-container .btnClosePopup{
    margin: -30px 0 20px;
}
.header-container .overlay .popup-saisie h2{
    margin-bottom: 50px;
}

.main-container{
    width: 70%;    
}
.abc-menu{
    width: 50%;
    max-width: 500px;
}
.trames-menu{
    
    /* flex-direction: row; */
     
    
    max-width: 800px;   
}

.atext{
    font-size: 1rem;
}
.box-axe{
    width: 70%;
    height: 50%;
	margin : 25vh auto;
	/* margin-bottom : 10px; */
	/* background : #f2f2f2; */
	/* padding : 15px 20px; */
	/* display : flex; */
	/* flex-direction: row; */
    /* width: 100%;
    height: 100%; */
    padding-top: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
}
.button-return{
    display: block;
    background-color: #717171;
    opacity: 0.5;
    color: white;
    text-align: center;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    /*display: none;*/
}
    
}
/* ===============================================
                POUR UN ECRAN > 1024 PX 
==================================================  */

@media screen and (min-width: 1024px) {
    

.header-container .overlay .popup-saisie .block-choice{
    display: flex;    
}
}